.blog {

  .container {
    @media screen and (min-width: $desktop) {
    max-width: 880px;
  }
}

figure {
  padding: 4rem 2rem;
background: $white-light;
margin: 2rem;
border-radius: 4px;
@include borda;
}

.author_banner {
  padding-top:80px;

  p {
    font-size: 1.04rem;
font-weight: 700;
margin-bottom:0px;
  }

  .date {
    font-weight:400;
    color:$grey-light;
    font-size: 1rem;
  }
}

.author_img {
  text-align:right;

   img {
     width:100%;
     max-width:80px;

}
}

article {

  section {

  .entry {
    @include padding_tb;
  }
  .blog_header {
        padding: 10rem 2rem;
        background-position:center !important;
        max-height: 800px;

        h1 {
          color:$white;
          font-size:4rem;
        }

        p  {
          color:$white;
        }

        .container {
          @media screen and (min-width: $desktop) {
          max-width: 760px;
        }
      }
  }

  p {
    max-width: 760px;
    font-size:1.24rem;
    line-height:1.6;
  }

}

}
}
